/*Body*/

* {
    margin: 0rem;
}

body {
    color: black;
    background-color: #EEEEEE;
    font-family: 'Samsung Sharp Sans Regular';
}

div {
    box-sizing: border-box;
}

/*Contenido*/

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Smartphone*/

.smartphoneCont {
    height: 90rem;
    width: 53.5rem;
    background-color: #EEEEEE;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/*Imagen Logo*/

.smartphoneLogo {
    width: 10rem;
    margin-top: 1.3rem;
}

.logoCont {
    height: 5rem;
    width: 33rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

/*boxContSlides*/
.boxContSlides {
    height: 15rem;
    width: 32rem;
    background-image: url(./files/images/zaragoza_photo.jpg);
    background-size: 100%;
    filter: saturate(0);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
    position: absolute;
    box-shadow: 20px 20px 60px #000000cc, -20px -20px 60px #00000023;
    cursor: pointer;
    transition: all .3s;
}

.boxContSlides:hover {
    transform: scale(1.05);
}


/*boxsCont*/
.boxCont {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.3rem;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff8f;
    cursor: pointer;
    transition: all .3s;
}

.boxCont:hover {
    transform: scale(1.05);
}

/*BoxPositionXY*/

#boxContPosition1 {
    margin-top: 31rem;
    margin-left: -16rem;
    height: 12rem;
    width: 15rem;
}

#boxContPosition2 {
    margin-top: 31rem;
    margin-left: 1rem;
    height: 12rem;
    width: 15rem;
}

#boxContPosition3 {
    margin-top: 45rem;
    margin-left: -16rem;
    height: 12rem;
    width: 15rem;
}

#boxContPosition4 {
    margin-top: 45rem;
    margin-left: 1rem;
    height: 12rem;
    width: 15rem;
}

#boxContPositionDown {
    margin-top: 59rem;
    margin-left: -16rem;
    height: 13rem;
    width: 32rem;
}

/*Hospitales*/
#listaHospitales {
    margin-top: 13rem;
    height: 63rem;
    width: 32rem;
    line-height: 3rem;
    font-size: 1rem;
    overflow: scroll;
}

/*Farmacias*/
#listaFarmacias {
    margin-top: 13rem;
    height: 63rem;
    width: 32rem;
    line-height: 3rem;
    font-size: 1rem;
    overflow: scroll;
}

/*a fix*/
a,
.boxCont {
    color: black;
    position: absolute;
}

/*Font Faces*/

@font-face {
    font-family: 'Samsung Sharp Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Regular'), url(./files/fonts/samsungsharpsans.woff) format('woff');
}


@font-face {
    font-family: 'Samsung Sharp Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Medium'), url(./files/fonts/samsungsharpsans-medium.woff) format('woff');
}


@font-face {
    font-family: 'Samsung Sharp Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Bold'), url(./files/fonts/samsungsharpsans-bold.woff) format('woff');
}

/*Scroll bar*/
body::-webkit-scrollbar {
	width: 1.5rem;
}

body::-webkit-scrollbar-track {
	background: #EEEEEE;
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(0, 0, 0, 0.3);
	border-radius: 2rem;
	border: 0.5rem solid #EEEEEE;
}

.boxCont::-webkit-scrollbar {
	width: 0.5rem;
}

.boxCont::-webkit-scrollbar-track {
	background: transparent;
}

.boxCont::-webkit-scrollbar-thumb {
	background-color: rgb(0, 0, 0, 0.3);
	border-radius: 2rem;
	border: 0.5rem solid #eeeeee00;
}

/*Media Query

/* Smartphones (portrait & landscape) 
#Dispositivo = Mayoría de teléfonos móviles (vertical y horizontal) 
#Resolución = B/w 320px to 479px */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    html {
        font-size: 25px;
    }
}

/* #Dispositivo = Tablets de baja resolución y teléfonos Móviles (horizontal) 
  #Resolución = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    html {
        font-size: 25px;
    }
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
    html {
        font-size: 17px;
    }
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
    html {
        font-size: 25px;
    }
}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    
    html {
        font-size: 25px;
    }
}



/* iPads (landscape) 
  #Dispositivo = Tablets, Ipads (horizontal) 
  #Resolución = B/w 768px to 1024px */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    
    html {
        font-size: 10px;
    }

    
}

/* iPads (portrait) 
  #Dispositivo = Tablets, Ipads (vertical) 
  #Resolucion = B/w 768px to 1024px */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    
    html {
        font-size: 25px;
    }
    
    
}

/* Ordenadores de sobremesa y portátiles */
@media only screen and (min-width : 1224px) {
    
    html {
        font-size: 10px;
    }
    

    .smartphoneCont {
        background-image: url(./files/images/smartphone.png);
        background-size: 100%;
    }
}